{% extends 'main/layout.html' %}
{%block title%}Tortilla{% endblock %}
{%block content%}
{% load static %}
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>celebrity listing - list</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'main_app:home' %}">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> celebrity listing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- celebrity list section-->
<div class="page-single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p class="pad-change">Found <span>{{ defined_celebrities|length }} celebrities</span> in total</p>
					<label>Sort by:</label>
					<select>
						<option value="popularity">Popularity Descending</option>
						<option value="popularity">Popularity Ascending</option>
						<option value="rating">Rating Descending</option>
						<option value="rating">Rating Ascending</option>
						<option value="date">Release date Descending</option>
						<option value="date">Release date Ascending</option>
					</select>
					<a href="{% url 'celebrities_list' %}" class="list"><i class="ion-ios-list-outline active"></i></a>
					<a  href="{% url 'celebrities' %}" class="grid"><i class="ion-grid "></i></a>
				</div>
				<div class="row">
					{% for one_selected_celebrity in defined_celebrities %}
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							{% with image_directory_name=one_selected_celebrity.directory_name one_selected_celebrity_id=one_selected_celebrity.id %}
							<img style="width:103px;height:142.5px" src="{% static 'main/images/celebrities/'|add:image_directory_name|add:'/main_picture.jpg' %}" alt="">
							<div class="ceb-infor">
								<h2><a href="{% url 'celebrities_single' one_selected_celebrity_id %}">{{ one_selected_celebrity.full_name }}</a></h2>
								<span>actor, {{ one_selected_celebrity.country }}</span>
								<p>{{ one_selected_celebrity.short_description }} </p>
							</div>
							{% endwith %}
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="topbar-filter">
					<label>Reviews per page:</label>
					<select>
						<option value="range">36 Reviews</option>
						<option value="saab">18 Reviews</option>
					</select>

					<div class="pagination2">
						<span>Page 1 of 6:</span>
						<a class="active" href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">6</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-12">
				<div class="sidebar">
						<div class="searh-form">
						<h4 class="sb-title">Search celebrity</h4>
						<form class="form-style-1 celebrity-form" action="">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Celebrity name</label>
									<input name="text_for_input" type="text" placeholder="Enter keywords">
								</div>
<!--								<div class="col-md-12 form-it">-->
<!--									<label>Celebrity Letter</label>-->
<!--									<select>-->
<!--									  <option value="range">A</option>-->
<!--									  <option value="saab">B</option>-->
<!--									</select>-->
<!--								</div>-->
								<div class="col-md-12 form-it">
									<label>Country</label>
									<select name="country">
                                        <option value="">Select country</option>
                                        {% for one_selected_country in defined_countries %}
									    <option>{{ one_selected_country }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>Year of birth</label>
									<div class="row">
										<div class="col-md-6">
											<select name="year_of_birth_from">
												<option value="">From</option>
											  	<option>1930</option>
											  	<option>1940</option>
											  	<option>1950</option>
											  	<option>1960</option>
											  	<option>1970</option>
											  	<option>1980</option>
											  	<option>1990</option>
											  	<option>2000</option>
											  	<option>2010</option>
											  	<option>2020</option>
											</select>
										</div>
										<div class="col-md-6">
											<select name="year_of_birth_to">
												<option value="">To</option>
											  	<option>1940</option>
											  	<option>1950</option>
											  	<option>1960</option>
											  	<option>1970</option>
											  	<option>1980</option>
											  	<option>1990</option>
											  	<option>2000</option>
											  	<option>2010</option>
											  	<option>2020</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
					<div class="ads">
						<img src="images/uploads/ads1.png" alt="">
					</div>
					<div class="celebrities">
						<h4 class="sb-title">featured celebrity</h4>
						<div class="celeb-item">
							<a href="#"><img src="images/uploads/ava1.jpg" alt=""></a>
							<div class="celeb-author">
								<h6><a href="#">Samuel N. Jack</a></h6>
								<span>Actor</span>
							</div>
						</div>
						<div class="celeb-item">
							<a href="#"><img src="images/uploads/ava2.jpg" alt=""></a>
							<div class="celeb-author">
								<h6><a href="#">Benjamin Carroll</a></h6>
								<span>Actor</span>
							</div>
						</div>
						<div class="celeb-item">
							<a href="#"><img src="images/uploads/ava3.jpg" alt=""></a>
							<div class="celeb-author">
								<h6><a href="#">Beverly Griffin</a></h6>
								<span>Actor</span>
							</div>
						</div>
						<div class="celeb-item">
							<a href="#"><img src="images/uploads/ava4.jpg" alt=""></a>
							<div class="celeb-author">
								<h6><a href="#">Justin Weaver</a></h6>
								<span>Actor</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end of celebrity list section-->
{% endblock %}