{% extends 'main/layout.html' %}
{%block title%}Tortilla{% endblock %}
{%block content%}
{% load static %}

{% include 'users/user_information.html' with active_tab='favorite_movies' %}
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="topbar-filter user">
					<p>Found <span>{{ current_user.favourite_movies.all.count }} movies</span> in total</p>
					<label>Sort by:</label>
					<select>
						<option value="range">-- Choose option --</option>
						<option value="saab">-- Choose option 2--</option>
					</select>
					<a href="{% url 'user_favorite_list' %}" class="list"><i class="ion-ios-list-outline "></i></a>
					<a  href="{% url 'user_favorite_grid' %}" class="grid"><i class="ion-grid active"></i></a>
				</div>
				<div class="flex-wrap-movielist grid-fav">
					{% for one_favourite_movie in current_user.favourite_movies.all %}
						<div class="movie-item-style-2 movie-item-style-1 style-3">
							{% with image_directory_name=one_favourite_movie.directory_name %}
							<img style="width:160px;height:245.64px" src="{% static 'main/images/movies/'|add:image_directory_name|add:'/main_picture.jpg' %}" alt="">
							{% endwith %}
							<div class="hvr-inner">
	            				<a  href="{% url 'movie_single' one_favourite_movie.id %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
	            			</div>
							<div class="mv-item-infor">
								<h6><a href="moviesingle.html">{{ one_favourite_movie.title }}</a></h6>
								<p class="rate"><i class="ion-android-star"></i><span>{{ one_favourite_movie.movie_score }}</span> /10</p>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="topbar-filter">
					<label>Movies per page:</label>
					<select>
						<option value="range">20 Movies</option>
						<option value="saab">10 Movies</option>
					</select>

					<div class="pagination2">
						<span>Page 1 of 2:</span>
						<a class="active" href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">...</a>
						<a href="#">78</a>
						<a href="#">79</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}